[submodule "solid"]
	path = submodules/solid
	url = https://github.com/fictitious/solid.git
[submodule "dom-expressions"]
	path = submodules/dom-expressions
	url = https://github.com/fictitious/dom-expressions.git
[submodule "solid-devtools"]
	path = submodules/solid-devtools
	url = https://github.com/fictitious/solid-devtools.git
[submodule "solid-tree-view"]
	path = examples/solid-tree-view
	url = https://github.com/fictitious/solid-tree-view.git
[submodule "solid-site"]
	path = examples/solid-site
	url = https://github.com/fictitious/solid-site.git
[submodule "js-framework-benchmark"]
	path = examples/js-framework-benchmark
	url = https://github.com/krausest/js-framework-benchmark.git
